[Unit]
Description=docker-prune-service

[Service]
Type=simple
StandardOutput=journal
ExecStart=/bin/docker system prune --all --force --volumes
TimeoutSec=600

[Install]
WantedBy=multi-user.target
